numpy
orjson
Pillow
psutil
pyexcel-ods3
pymongo
PyMuPDF
pytz
qrcode
reportlab
requests
rsa
urllib3
Werkzeug
xds-protos
APScheduler
firebase-admin
filelock
Flask
Flask-Compress
Flask-Login
Flask-reCaptcha
Flask-SocketIO
gevent-websocket
google-auth-httplib2
line-bot-sdk
numpy
Flask-Session
gevent
google-api-python-client
google-auth-oauthlib
orjson